@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
 
    min-height: 100vh;
    background-color: #0081A4;
    font-family: 'Inter', sans-serif !important;
}

.form-box {
    width: 450px; 
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h1 {
    color: #39639D; 
    font-family: 'Inter', sans-serif; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

p.small {
    font-size: 0.85rem; 
}

.input-group-text {
    background: white;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 0.875rem; 
}

.form-control {
    border-left: none;
    border-radius: 0 5px 5px 0;
    font-size: 0.875rem; 
    padding: 0.5rem; 
}

input:focus, .form-control:focus {
    outline: none;
    box-shadow: none; 
    border-color: lightgrey; 
}

.btn {

    font-size: 0.875rem;
    padding: 0.6rem; 
    height: 40px;
    font-weight: bold;
}

.btn-primary {
    background-color: #39639D; 
    border-color: #39639D; 
}

.btn-primary:hover {
    background-color: #2c4d6e; 
    border-color: #2c4d6e; 
} 
   