html, body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.d-flex {
  flex-wrap: wrap;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.search-container {
  position: relative;
  z-index: 1;
}

.search-content {
  position: relative;
  z-index: 0;
}

.blue-text {
  color: #39639d;
  font-family: 'Inter', sans-serif;
}
.blue-text:hover {
  color: #39639d;
  font-family: 'Inter', sans-serif;
}

.blue-text:active {
  color: #39639d;
  font-family: 'Inter', sans-serif;
}

.white-text {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.white-text:hover {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.white-text:active {
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

.grey-text {
  color: #929293;
  font-family: 'Inter', sans-serif;
}

.underline-animation {
    text-decoration: none; 
    position: relative; 
    font-size: 18px;
    font-weight: bold;
}

.underline-animation::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #39639d; 
    transition: width 0.5s ease; 
}

/* Animação ao passar o mouse */
.underline-animation:hover::after {
    width: 100%; 
}

.botao {
  background-color: #39639d;
  border-color: #39639d;
  color: white;
  font-weight: bold;
}

.botao:hover {
  background-color: #284875;
  border-color: #284875;
  color: white;
}

.botao:active {
  background-color: #39639d;
  border-color: #39639d;
  color: white;
}

.botao-white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #39639d;
  font-weight: bold;
  width: 15%;
}

.botao-light {
  background-color: #ffffff;
  border-color: #39639d;
  color: #39639d;
}

.bg-blue-grad {
  background: linear-gradient(#00b4e5, #39639d);
}

.texto {
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -2%;
}

.texto-pequeno {
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -2%;
}

.esquerda{
    margin-left: 15%;
    margin-top: 10%;
}

.começar{
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 15px;
    border-width: 2px;
    color: white;
    font-weight: bold;
}

.começar:hover{
    background-color: transparent;
    color: #ffffff;
    border-color:#ffffff;
}

.começar-blue{
    background-color: #39639d;
    border-color: #39639d;
    border-radius: 15px;
    border-width: 2px;
    color: white;
    font-weight: bold;
}

.começar-blue:hover{
    background-color: #39639d;
    color: #ffffff;
    border-color:white ;
}



.default-container{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.bg-blue-perfil{
    background: #40649c;
}

.bg-translucent{
    background: #f4f8ff;
}

.fill-page{
    height: 100%;
}

.container2{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.barra{
    background-color: #39639D;
    width: 100%;
    height: 6px;
}

::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #39639D;
}

::-webkit-scrollbar-thumb:hover {
  background: #39639D;
}

.botao-light:hover {
  background-color: #39639D; 
  color: white; 
  transition: background-color 0.3s ease; 
  font-weight: bold;
}




div[style*="overflow-y:auto"]::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

div[style*="overflow-y:auto"]::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

div[style*="overflow-y:auto"]::-webkit-scrollbar-thumb {
  background: #39639d;
  border-radius: 10px;
}

div[style*="overflow-y:auto"]::-webkit-scrollbar-thumb:hover {
  background: #2c4a7a;
}
