html, body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.d-flex {
  flex-wrap: wrap;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.search-container {
  position: relative;
  z-index: 1;
}

.search-content {
  position: relative;
  z-index: 0;
}

.blue-text {
  color: #01b9e0;
  font-family: 'Inter', sans-serif;
}
.blue-text:hover {
  color: #01b9e0;
  font-family: 'Inter', sans-serif;
}

.underline-animation {
    text-decoration: none; 
    position: relative; 
    font-size: 18px;
    font-weight: bold;
    color: #01b9e0;
}

.underline-animation::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #01b9e0; 
    transition: width 0.5s ease; 
}

/* Animação ao passar o mouse */
.underline-animation:hover::after {
    width: 100%; 
}

.botao {
  background-color: #39639d;
  border-color: #39639d;
  color: white;
  font-weight: bold;
  width: 15%;
}

.botao:hover {
  background-color: #01b9e0;
  border-color: #01b9e0;
  color: white;
}

.botao:active {
  background-color: #39639d;
  border-color: #39639d;
  color: white;
}

.bg-blue-grad {
  background: linear-gradient(#00b4e5, #39639d);
}

.texto {
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -2%;
}

.texto-pequeno {
  color: #ffffff;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -2%;
}

.esquerda{
    margin-left: 15%;
    margin-top: 10%;
}

.começar{
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 15px;
    border-width: 2px;
    color: white;
    font-weight: bold;
}

.começar:hover{
    background-color: #ffffff;
    color: #39639d;
    border-color:transparent ;
}

.default-container{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}


