.custom-fade-in {
  animation: fadeInModal 0.4s ease;
}

.custom-fade-out {
  animation: fadeOutModal 0.25s ease forwards;
}


@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOutModal {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-40px) scale(0.98);
  }
}

/* Animação do fundo */
@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-logo {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 500px;
  height: auto;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
  animation: logo-brightness 5s infinite;
}

@keyframes logo-brightness {
  0% {
    filter: brightness(0.7);
    opacity: 0.4;
  }
  40% {
    filter: brightness(1.3);
    opacity: 0.7;
  }
  60% {
    filter: brightness(1.3);
    opacity: 0.7;
  }
  100% {
    filter: brightness(0.7);
    opacity: 0.4;
  }
}