body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
}
.sidebar {
    width: 250px;
    background-color: #294873;
    color: white;
    padding: 0;
    position: fixed;
    height: 100%;
}
.sidebar-header {
    display: flex;
    background-color: #f5f9ff;
    padding: 20px 15px;
    
}
.sidebar-header img {
    width: 195px;
    height: 61px;
    font-weight: bold;
    color: #294873;
    margin: 0;
    
}

.sidebar ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.sidebar ul li i {
    margin-right: 12px;
    font-size: 16px;
    color: #ffffff;
}

.sidebar ul li:hover, .sidebar ul li.active {
    background-color: #2F4A70;
    font-weight: bold;
}

.sidebar ul li a {
    text-decoration: none; 
    color: white; 
    display: flex; 
    align-items: center; 
    width: 100%; 
    border-radius: 5px; 
}

.menu-container {
    background-color: #4171B4;
    padding: 10px 0;
    font-size: 20px;
    
}

.menu-container li i {
    width: 20px; 
    margin-right: 10px; 
    text-align: center;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.dashboard-container li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    transition: background 0.3s ease;
    padding: 10px 0;
    text-align: center;
}



.content {
    margin-left: 250px;
    color: #39639D;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin-right: 150px;
    margin-left: 150px;
}
.header .user-info {
    display: flex;
    align-items: center;
}
.header img {
    width: 97px;
    height: 100px;
    margin-right: 12px;
}
.header button {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #39639D;
    color: white;
    border: none;
    border-radius: 5px;
}
.header button:hover {
    background-color: #2c4f7c;
}
.stats-panel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 150px;
    margin-left: 150px;
}

.stats-card {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background: #F5F9FF;
    padding: 20px;
    text-align: center;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #39639D;
}

.stat {
    flex: 1;
    font-size: 36px ;
}

.stat h3{
    font-size: 20px;
}

.stat p{
    font-size: 36;
    font-weight: bold;
}

.btn-filtro{
    color: #39639D;
    background-color: #F5F9FF;
    border: 1px solid #A7A7A7;
    margin-left: 12px;
    width: 150px;
    
    
}


.btn-adicionar{
    color: #fff;
    background-color: #39639D;
    width: 150px;
    
}


.icon-lupa{

    color: #A7A7A7;
}

.icon-filtro{
    color: #39639D;
}

.btn-leave{
    width: 150px;

}

.btn-editar{

    color: #fff;
    background-color: #39639D;
    width: 150px;
    border-radius: 12px;
}

.btn-cancelar{
    color: #39639D;
    background-color: #F5F9FF;
    border: 1px solid #A7A7A7;
    margin-left: 12px;
    width: 150px;
    border-radius: 12px;

}

.btn-continuar {
    color: #fff;
    background-color: #39639D;
    width: 150px;
    border-radius: 12px;
}

.btn-voltar{

    color: #39639D;
    background-color: #F5F9FF;
    border: 1px solid #A7A7A7;
    margin-left: 12px;
    width: 150px;
    border-radius: 12px;

}



.tabela-users{
    background-color: #F5F9FF;
    color: #39639D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.tabela-users th,
.tabela-users td {
        background-color: #F5F9FF;
        color: #39639D;
}

.tabela-header{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        margin-left: 200px;
    }
    .stats-panel {
        flex-direction: column;
    }
    .stats-card {
        margin-bottom: 10px;
        background-color: #F5F9FF;
    }
}